.container{
    background: url(https://offers.hubspot.com/hubfs/assets/hubspot.com/landing-pages/sales/Images/contact_sales_2-compressor.jpg);
    background-size: fixed;
    background-position: top;
    background-size: 1000px;
    height: 500px;
}
.header{
    font-size: 40px;
    color: aliceblue;
    padding-top:50px ;
    padding-left: 5em;
}