.header__content{
    background: url(https://offers.hubspot.com/hubfs/assets/hubspot.com/landing-pages/sales/Images/contact_sales_2-compressor.jpg);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    background-size: cover;
    height: 500px;
}
.header{
    font-size: 40px;
    color: ;
    padding-top:50px ;
    text-align: center;

}
.row-fluid {
    width: 100%;
    *zoom: 1;
}
* {
    box-sizing: border-box;
}