.header__content{
    background: url(https://offers.hubspot.com/hubfs/assets/hubspot.com/landing-pages/sales/Images/contact_sales_2-compressor.jpg);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    background-size: cover;
    height: 500px;
}
.header{
    font-size: 60px;
    color: whitesmoke;
    padding-top:50px ;
    text-align: center;

}
.header1{
    text-align: center;
    color: thistle;
    font-size: 30px;
}
.contact{
    text-align: center;
    padding: 30px;

}
.fa {
    padding: 20px;
    font-size: 70px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(68, 64, 64);
  }
  #footer{
    text-align: center;
    clear: both;
    width: 100%;
    margin: 60px 0 0;
    padding: 30px 0;
    font-size: 14px;
    color: #aaa;
    background-color: #343434;
    font-weight: 300;
    flex-shrink: 0;
  }
  #footer-section-container{
      display: flex;
      justify-content: space-around;
      max-width: 900px;
      padding-top: 200px;
      margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border-top: 1px solid #4a4a4a;
  }
  #footer-section-container .footer-section.contribute {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
  }
 
  