.container{
    background: url(https://www.axisbank.com/images/default-source/revamp_new/contact-us/contactus.jpg);
    background-size: fixed;
    background-position: top;
    background-size: 1000px;
    height: 120px;
}
h1{
    align: left;
}