.container{
    margin: auto;
    width: 25%;
    padding: 10px;
    text-align: center;
    background-color:white;
    
}
.button
{
    background-color: black;
    font-size: 15px;
    border: none;
    color: cornsilk;
    width: 200px;
}
body
{
    background-color: #7e857e;
}
#email
{
    width: 200px;
    font-size: 15px;
}
#password
{
    width: 200px;
    font-size: 15px;
}