.container{
    margin: auto;
    width: 30%;
    height: 40%;
    text-align: center;
    background-color:white;
    margin-top: 20%;
    
}
.button
{
    background-color: black;
    font-size: 15px;
    border: none;
    color: cornsilk;
    width: 200px;
}
body
{
    background-color: #7e857e;
}
#email
{
    width: 200px;
    font-size: 15px;
}
#password
{
    width: 200px;
    font-size: 15px;
}
.header
{
    text-align: left;
    background-color:#4e9ad9 ;
    height: 40px;
}
a{
    color: white;
}